In [3]:
# ======================================
# Upload all Banking CSVs into MySQL
# ======================================
import pandas as pd
import mysql.connector

# -----------------------------
# MySQL Connection
# -----------------------------
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='asbs',  # <-- Replace with your MySQL password
    database='banking'
)
cursor = conn.cursor()

# -----------------------------
# Function to load CSV into SQL
# -----------------------------
def load_csv_to_sql(csv_file, table_name):
    df = pd.read_csv(csv_file)

    # Replace NaN with None for SQL
    df = df.where(pd.notnull(df), None)

    # Column names and placeholders
    cols = ", ".join(df.columns)
    placeholders = ", ".join(["%s"] * len(df.columns))
    sql = f"INSERT INTO {table_name} ({cols}) VALUES ({placeholders})"

    # Convert dataframe to list of tuples
    data = [tuple(x) for x in df.to_numpy()]

    # Execute bulk insert
    cursor.executemany(sql, data)
    conn.commit()
    print(f"{table_name} loaded with {len(df)} rows.")

# -----------------------------
# Load all CSVs
# -----------------------------
csv_table_map = {
    "customers.csv": "Customers",
    "accounts.csv": "Accounts",
    "transactions.csv": "Transactions",
    "loans.csv": "Loans",
    "credit_cards.csv": "CreditCards"
}

for csv_file, table_name in csv_table_map.items():
    load_csv_to_sql(csv_file, table_name)

# -----------------------------
# Close connection
# -----------------------------
cursor.close()
conn.close()
print("All CSVs uploaded successfully!")

Customers loaded with 50 rows.
Accounts loaded with 70 rows.
Transactions loaded with 500 rows.
Loans loaded with 30 rows.
CreditCards loaded with 40 rows.
All CSVs uploaded successfully!